<h4>Список Объектов</h4>

<table>
  <tr>
    <th>Объект</th>
    <th>Начало</th>
    <th>Окончание</th>
    <th></th>
    <th></th>
  </tr>

<% @staff_objects.each do |st_wo| %>
  <tr>
    <td><%= link_to Workobject.find(st_wo.workobject_id).fulladdr, st_wo %></td>
    <td><%= st_wo.sdate %></td>
    <td><%= st_wo.edate %></td>
    <td><%= link_to 'Edit', edit_staffobjectjournal_path(st_wo) %></td>
    <td><%= link_to 'Destroy', st_wo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Добавить Объект', new_staffobjectjournal_path, staff_id: 1 %>

