<h2>Поменять пароль для пользователя <%=@staff.fullname%></h2>
<div class="row">
 <div  class="large-4 columns">
<div class="row">
<%= form_for(@staff, :url => staffs_update_password_path) do |f| %>
  <div  class="large-6 columns" style="text-align: right;"><%= f.label :password, "Новый пароль" %>
    </div>
  <div  class="large-6 columns">
  <%= f.password_field :password, :autofocus => true %></div>
</div>
<div class="row">
  <div class="large-6 columns" style="text-align: right;"><%= f.label :password_confirmation, "Подтвердите пароль" %>
    </div>
  <div  class="large-6 columns">
  <%= f.password_field :password_confirmation %></div>
  <%= f.hidden_field :id %>
</div>

<div class="row">
<div class="large-6 columns">&nbsp;</div>
<div class="large-6 columns">
<%= f.submit "Поменять пароль" %></div>
</div>
<% end %>
</div>
</div>
