<%= form_tag staffs_path, :method => 'get' do %>
<div class="row display">
 <div class="small-3 columns">
  <h4>Список сотрудников</h4>
 </div>
  <div class="small-3 columns">
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <input name="search" size="20" type="text" value=<%=params[:search]%>>
  </div>
  <div class="small-3 columns">
          <%= submit_tag "Найти", :name => nil %>
  </div>
  <div class="small-3 columns">
    <%= link_to 'Добавить сотрудника', new_staff_path, class: "button radius"  %>
  </div>
</div>
<div class="row display">
  <div class="small-3 columns">
    Только действующие - <%= check_box_tag :notwork,'no',params[:notwork]=='no' %>
  </div>
</div>
<% end %>

<% if flash[:error] %>
    <div id="error_explanation"><h2><%= flash[:error] %></h2></div>
<% end %>

<table>
  <tr>
    <th><%= sortable "lname","ФИО"%></th>
    <th><%= sortable "position","Должность"%></th>
    <th><%= sortable "phone1","Телефон"%></th>
    <th><%= sortable "email","Почта"%></th>
    <th><%= sortable "status","Статус"%></th>
    <th><%= sortable "birthday","Дата рождения"%></th>
    <th></th>
  </tr>
  <%= will_paginate @staffs %><br>
<% @staffs.each do |staff| %>
  <tr>
    <td><%= link_to "#{staff.lname} #{staff.fname} #{staff.mname}", staff %></td>
    <td><%= staff.position %></td>
    <td><%= staff.phone1 %></td>
    <td><%= staff.email %></td>
    <td><%= staff.status %></td>
    <td><%= staff.birthday %></td>
    <td><%= link_to tag("img", { :src => "/images/button_edit.gif", :title =>'Edit', :alt=>'Edit',:border=>0,:size=>"17x17"}, false) , edit_staff_path(staff) %>
      <%= link_to tag("img", { :src => "/images/button_drop.gif", :title =>'Destroy', :alt=>'Destroy',:border=>0}, false), staff, method: :delete, data: { confirm: 'Are you sure?' } %></td>

  </tr>
<% end %>
</table>
