<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <b>Описание:</b><br>
      <%= f.text_area :description, cols: 40 %>
    </div>
<script type="text/javascript">
$('task_description').keyup(function(){
        $(this).height(100);
        $(this).height(this.scrollHeight);
});
</script>
    <div class="field">
      <b>Сотрудник:</b><br>
      <%= f.select :staff_id, Staff.where(status: "Работает").order("lname asc").all.collect {|st| [st.fullname ,st.id] }, {include_blank: true} %>
    </div>
    <div class="field">
      <b>Объект:</b><br>
      <%= f.select :workobject_id, Workobject.order("name asc").all.collect {|wo| [wo.name+", "+wo.city+", "+wo.address,wo.id] }, {include_blank: true} %>
    </div>
    <div class="row">
      <div class="large-3 columns">
        <div class="field">
          <b>Начало:</b><br><input type="text" name=task[sdate] class="datepicker" value="<%=@task.sdate%>">
        </div>
      </div>
      <div class="large-3 columns">
        <div class="field">
	  <b>Окончание:</b><br> <input type="text" name=task[edate] class="datepicker" value="<%=@task.edate%>">
        </div>
      </div>
    </div><br>
    <div class="row">
      <div class="large-6 columns">
        <b>Выполнение:</b><br>
          <% 0.step(100,20) do |st| %>
              <%= f.radio_button :progress, st %><font style="background-color:<%=color_for_fontbg_hash[st]%>" size=-2><%=st%></font>
          <% end %>
      </div>
      <div class="large-6 columns">
        <b>Периодичность:</b><br>
        <%= f.select :period, ["","Ежедневно","Еженедельно","Ежемесячно"].collect {|value| [value,value]}%>
      </div>
    </div><p>
    <div class="row">
      <div class="large-6 columns">
        <b>Статус:</b><br>
        <%= f.select :state, task_status_hash.each.collect {|key,value| [value,key]}%>
      </div>
      <div class="large-6 columns">
        <b>Приоритет:</b><br>
        <%= f.select :priority, task_priority_hash.each.collect {|key,value| [value,key]}%>
      </div>
    </div><p>
    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>
