<h1>Список задач</h1>

<table>
  <tr>
    <th>Описание</th>
    <th>Начало</th>
    <th>Окончение</th>
    <th>% Выполнения</th>
    <th>Статус</th>
    <th></th>
    <th></th>
  </tr>

<% @wo_tasks.each do |task| %>
  <tr>
    <td><%= link_to task.description, task %></td>
    <td><%= task.sdate %></td>
    <td><%= task.edate %></td>
    <td><%= task.progress %></td>
    <td><%= task.state %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Добавить задачу', new_task_path, workobject_id: 1 %>
