<%= form_for(@data_file) do |f| %>
  <% if @data_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_file.errors.count, "error") %> prohibited this data_file from being saved:</h2>

      <ul>
      <% @data_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

<h1>File Upload</h1>
<%= start_form_tag ({:action => 'uploadFile'}, 
                        :multipart => true) %>
<p><label for="upload_file">Select File</label> : 
<%= file_field 'upload', 'datafile' %></p>
<%= submit_tag "Upload" %>
<%= end_form_tag %>

  </div>
  <div class="actions">
  </div>
<% end %>
