<%= form_for(@staffobjectjournal) do |f| %>
  <% if @staffobjectjournal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staffobjectjournal.errors.count, "error") %> prohibited this staffobjectjournal from being saved:</h2>

      <ul>
      <% @staffobjectjournal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
<div class="large-3 columns">
  <div class="field">
    <%= f.label "Сотрудник" %>
    <%= f.select :staff_id, Staff.all.collect {|st| [st.fullname ,st.id] }, {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label "Объект" %>
    <%= f.select :workobject_id, Workobject.all.collect {|wo| [wo.fulladdr ,wo.id] }, {include_blank: true} %>
  </div>
 <div class="field">
    <%= f.label "Статус" %>
    <%= f.select :status,staff_obj_status_collect %>
  </div>
</div>
<div class="large-3 columns">
  <div class="field">
    <%= f.label "Начало работы" %>
    <input type="text" name="staffobjectjournal[sdate]" class="datepicker" value="<%=@staffobjectjournal.sdate%>">
  </div>
  <div class="field">
    <%= f.label "Окончание" %>
    <input type="text" name="staffobjectjournal[edate]" class="datepicker" value="<%=@staffobjectjournal.edate%>">
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<div class="large-6 columns">&nbsp;
</div>
</div>
<% end %>
