<div class="row display">
 <div class="small-5 columns">
  <h4>Журнал планирования работ сотрудников</h4>
 </div>
 <div class="small-2 small-offset-5 columns">
  <%= link_to 'Новая запись', new_staffobjectjournal_path, class: "button radius"  %>
 </div>
</div>

<%= will_paginate @staffobjectjournals %><br>

<% if flash[:error] %>
    <div id="error_explanation"><h2><%= flash[:error] %></h2></div>
<% end %>

<table>
  <tr>
    <th>Сотрудник</th>
    <th>Объект</th>
    <th>C</th>
    <th>По</th>
    <th>Статус</th>
    <th></th>
    <th></th>
  </tr>

<% @staffobjectjournals.each do |staffobjectjournal| %>
  <tr>
    <td><%= Staff.find(staffobjectjournal.staff_id).fullname if Staff.exists?(staffobjectjournal.staff_id) %></td>
    <td><%= Workobject.find(staffobjectjournal.workobject_id).fulladdr if Workobject.exists?(staffobjectjournal.workobject_id) %></td>
    <td><%= staffobjectjournal.sdate %></td>
    <td><%= staffobjectjournal.edate %></td>
    <td><%= staff_obj_status_hash[staffobjectjournal.status] %></td>
    <td><%= link_to 'Show', staffobjectjournal %></td>
    <td width=5%><%= link_to tag("img", { :src => "/images/button_edit.gif", :title =>'Edit', :alt=>'Edit',:border=>0,:size=>"17x17"}, false) , edit_staffobjectjournal_path(staffobjectjournal) %>
          <%= link_to tag("img", { :src => "/images/button_drop.gif", :title =>'Destroy', :alt=>'Destroy',:border=>0}, false), staffobjectjournal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


