<table>
  <tr>
    <th width=7%><%= sortable "id", "№ п/п" %></th>
    <th width=30%><%= sortable "name", "Наименование" %></th>
    <th width=15%><%= sortable "address", "Адрес" %></th>
    <th width=15%><%= sortable "unit", "Ед. изм." %></th>
    <th width=15%><%= sortable "mass", "Кол-во" %></th>
  </tr>
<% @storages.each do |storage| %>
  <tr>
    <td width=7% ><%= storage.id %></td>
    <td width=30% ><%= link_to storage.name, storage %></td>
    <td width=15% ><%= storage.address %></td>
    <td width=15% ><%= storage.unit %></td>
    <td width=15% ><%= storage.mass %></td>
<td width=5%><%= link_to tag("img", { :src => "/images/button_edit.gif", :title =>'Edit', :alt=>'Edit',:border=>0,:size=>"17x17"}, false) , edit_storage_path(storage) %>
          <%= link_to tag("img", { :src => "/images/button_drop.gif", :title =>'Destroy', :alt=>'Destroy',:border=>0}, false), storage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
