<div class="row display">
 <div class="small-8 columns">
  <h4>Список документов <%=@src%></h4>
 </div>
 <div class="small-2 small-offset-2 columns">
 <%= link_to 'Добавить файл', new_upload_path(params), class: "button radius"  %>
 </div>
</div>

<% if flash[:error] %>
    <div id="error_explanation"><h2><%= flash[:error] %></h2></div>
  <% end %>

<table>
  <tr>
    <th>Имя файла</th>
    <th>Размер</th>
    <th>Дата</th>
    <th></th>
  </tr>
<% @uploads.each do |file| %>
  <tr>
    <td><%= link_to file.filename, upload_path(file) %></td>
    <td><%= file.size %></td>
    <td><%= file.created_at %></td>
    <td width=5%>
      <%= link_to tag("img", { :src => "/images/button_drop.gif", :title =>'Destroy', :alt=>'Destroy',:border=>0}, false), file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

