<div class="row display">
 <div class="small-3 columns">
  <h4>Список выплат</h4>
 </div>
 <div class="small-2 small-offset-7 columns">
  <%= link_to 'Новая выплата', new_paymentcash_path, class: "button radius"  %>
 </div>
</div>




<table>
  <tr>
    <th>Когда</th>
    <th>Кому</th>
    <th>Сколько</th>
    <th></th>
    <th></th>
  </tr>

<% @paymentcashes.each do |paymentcash| %>
  <tr>
    <td><%= paymentcash.when %></td>
    <td><%= Staff.find(paymentcash.staff_id).fullname %></td>
    <td><%= paymentcash.how_many %></td>
    <td><%= link_to 'Show', paymentcash %></td>
    <td><%= link_to tag("img", { :src => "/images/button_edit.gif", :title =>'Edit', :alt=>'Edit',:border=>0,:size=>"17x17"}, false) , edit_paymentcash_path(paymentcash) %>
      <%= link_to tag("img", { :src => "/images/button_drop.gif", :title =>'Destroy', :alt=>'Destroy',:border=>0}, false), paymentcash, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

